<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kiiik.web.system.mapper.UserMapper" >
    <cache></cache>
    <resultMap id="BaseResultMap" type="com.kiiik.web.system.vo.UserRoleVo" ></resultMap>
     <resultMap id="menuMap" type="com.kiiik.web.system.po.Menu"></resultMap>
     <resultMap id="userMap" type="com.kiiik.web.system.po.User"></resultMap>
     
    <select id="getUserRoles" resultMap="BaseResultMap" parameterType="Integer" flushCache="true">
        select ur.userId,ur.roleId,r.roleName,u.username 
		from t_sys_role r,t_sys_user_role ur,t_sys_user u
		where u.id=ur.userId 
		and r.id=ur.roleId
		and userid= #{userId}
    </select>
    
    <select id="getUserMenus" resultMap="menuMap" parameterType="Integer" flushCache="true">
         SELECT
			distinct m.id,m.*
		FROM
			t_sys_user_role ur,
			t_sys_role_menu rm,
			t_sys_menu m
		WHERE
			ur.roleid = rm.roleid
		AND rm.menuid = m.id
		AND ur.userid =  #{userId}
		order by m.ordor asc
    </select>
        
    <select id="getUsers" resultType="com.kiiik.web.system.po.User"  flushCache="true">
         SELECT
            t.id,
			t.empno,
			t.isEffect,
			cast(UNIX_TIMESTAMP(t.lastLoginTime) as decimal(50)) as lastLoginTime,
			cast(UNIX_TIMESTAMP(t.loginTime) as decimal(50)) as loginTime,
			e.lastname AS userName
		FROM
			t_sys_user t,
			t_sys_employee e
		WHERE
			t.empno = e.loginid
		<if test="empNo!=null">
		 and t.empno like '%${empNo}%'
		</if>
		<if test="userName!=null">
		 and e.lastname like '%${userName}%'
		</if>
		 order by t.empno asc
    </select>
    <!-- 获取员工公司相关信息 -->
    <select id="getUserCompanyInfor" resultType="com.kiiik.web.system.vo.UserCompanyInfor"  flushCache="true">
	    SELECT
		subcompanyname,
		email,
		d.departmentname,
		u.mobile
		FROM
			t_sys_employee u,
			t_sys_company c,
			t_sys_department d
		WHERE
			u.subcompanyid1 = c.id
		AND u.departmentid = d.id
		AND u.loginid = #{empNo}
    </select>
</mapper>