<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<meta charset="UTF-8" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title sec:authentication="name">首页</title>
</head>
<body th:with="basePath=${#httpServletRequest.getScheme() + '://' + #httpServletRequest.getServerName() + ':' + #httpServletRequest.getServerPort()  + #httpServletRequest.getContextPath() + '/'} ">
	<!-- <span sec:authorize="isAuthenticated()"> 欢迎<span
		sec:authentication="name"></span>
	</span> -->
	<div th:text="${infor}"></div>
	<span th:text="${name}"></span>
	<br />
	<hr/>
	<table class="table">  
        <thead>  
        	<tr>
	            <!-- <th th:each="map : ${map}" th:text="${map.key}"></th>  --> 
	            <th th:each="map : ${map}" th:text="${map.value}"></th>
            </tr>  
        </thead>
        <tbody >
        	<tr>
            	<td th:each="list:${list}" th:text="${list}"></td>
            </tr>
        </tbody>
	</table>
	<hr/>
	 子系统真实路径：<span th:text="${basePath}"></span> 
	<br/>
	<span th:if="${name!=null}">
		 当前用户的权限数量：<span th:text="${name.roles.size()}"></span>  <!-- ${name.roles[0]} -->
		<br/>过滤后的菜单权限：
		 <span  th:each="user: ${name.roles}">
			  <span th:if=" ${user} eq 'ROLE_ADD'" ><a href="#">增加</a></span>
			  <span th:if=" ${user} eq 'ROLE_DELETE'" ><a href="#">删除</a></span>
			  <span th:if=" ${user} eq 'ROLE_UPDATE'" ><a href="#">修改</a></span>
			  <span th:if=" ${user} eq 'ROLE_QUERY'" ><a href="#">查询</a></span>
	    </span>
    </span>
	 <hr/>
	<table border="1" width="50%">
		<thead>
			<tr>
				<td width="20%" colspan="2">当前用户操作</td>
			</tr>
			<tr>
				<td width="20%">当前系统用户详情</td>
				<td><a href="../../user/infor" target="_blank">用户信息</a> 
				<a href="../../user/infor" target="_blank">用户信息-subsys</a></td>
			</tr>
			<tr>
				<td width="20%">退出系统</td>
				<td><a href="logout}">退出</a></td>
			</tr>
			<tr>
				<td width="20%">子系统用户信息</td>
				<td><a href="../../api1/rq?para=chenyb" target="_blank">用户详情</a></td>
			</tr>
		</thead>
	</table>
	<br/>
	<table border="1" width="50%">
		<thead>
			<tr>
				<td width="20%" colspan="2">子系统所有菜单</td>
			</tr>
			<tr>
				<td width="20%">系统菜单</td>
				<td>接口</td>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>增加数据</td>
				<td><a target="_blank" href="../../api1/api/add">增加数据</a></td>
			</tr>
			<tr>
				<td>删除数据</td>
				<td><a target="_blank" href="../../api1/api/delete">删除数据</a></td>
			</tr>
			<tr>
				<td>更新数据</td>
				<td><a target="_blank" href="../../api1/api/update">更新数据</a></td>
			</tr>
			<tr>
				<td>查询数据</td>
				<td><a target="_blank" href="../../api1/api/query">查询数据</a></td>
			</tr>
		</tbody>
	</table>
	
	
	
	<hr />
	<h1>Spring Boot file upload example</h1>
<form method="POST" action="/api1/api/upload" enctype="multipart/form-data">
    <input type="file" name="file" /><br/><br/>
    <input type="submit" value="Submit" />
</form>
</body>
</html>