<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<meta charset="UTF-8" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title sec:authentication="name">首页</title><!-- th:href="@{/index.css}" -->
<script src="https://iechenyb.github.io/resume/pub/js/base64/Base64.js"></script>
<script src="http://passport.cnblogs.com/scripts/jsencrypt.min.js"></script>
<script src="https://iechenyb.github.io/resume/pub/js/md5/md5.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://cdn.bootcss.com/blueimp-md5/2.10.0/js/md5.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="http://code.jquery.com/jquery-latest.js"></script>
</head>
<body  th:with="basePath=${#httpServletRequest.getScheme() + '://' + #httpServletRequest.getServerName() + ':' + #httpServletRequest.getServerPort()  + #httpServletRequest.getContextPath() + '/'} ">
	
	<div id="app-6">
	<textarea id="tra" rows="15" cols="65">
            MIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQCa4KHNwDX44gGmmIAtRu4gjVYt
			GWZzcm4t+1wjUD4dn7fMLPvuK7ai4UrfDeEJE1RPwudJw+lJ6crql8wSIg7/DbTl
            G3ihsCT6dT9H5B9OoeR7K9VWUesaW/iyVL6HXiYOANabW14pvJATDmdq91Tfgp6P
            SQyvdfiRdV4r07crpQIDAQAB
     </textarea>
	请输入密码：<input type="text" value="" id="password"></input>
	<button v-on:click="greet">提交验证(验证失败时，尝试刷新公秘钥信息)</button>
	</div>
</body>
<script type="text/javascript">
var app6 = new Vue({
	el : '#app-6',
	data : {
		message : '123' ,
	},
	methods : {
		greet : function(event) {
		    var base64 = new Base64();  
		    var orignpsd = $('#password').val();
		    
 		     
 		    var encrypt = new JSEncrypt();
            encrypt.setPublicKey($("#tra").val());
            var data = encrypt.encrypt(orignpsd);
 		    
 		    
 		    axios.get("validatePasswordSTD?password="+base64.encode(result))
           .then(function (response) {
             console.log(response.data);
			 alert(response.data.es);
           })
           .catch(function (error) {
             console.log(error);
         }); 
 		  	
		}
	}
   });

</script>
</html>