<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<meta charset="UTF-8" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title sec:authentication="name">首页</title>
</head>
<body th:with="basePath=${#httpServletRequest.getScheme() + '://' + #httpServletRequest.getServerName() + ':' + #httpServletRequest.getServerPort()  + #httpServletRequest.getContextPath() + '/'} ">
	<h1>自定义异常页面</h1>
	请求内容:<span th:text="${path}"></span><br/>
	响应状态：<span th:text="${status}"></span><br/>
	提示消息：<span th:text="${message}"></span><br/>
	时间：<span th:text="${timestamp}"></span><br/>
	异常内容：<span th:text="${error}"></span><br/>
</body>
</html>